<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDao" class="com.zkb.ltk.dao.impl.testDaoImpl"></bean>
    <bean id="loginDao" class="com.zkb.ltk.dao.impl.LoginDaoImpl"></bean>
</beans>